body {
    background-color: rgb(201, 230, 148);
  }

  header{
    background-color: rgb(247, 15, 15)
    } 

h1    {
    text-align: center;
    color: rgb(243, 247, 53);
}

#display_image {

    text-align: center
    width: 100px;
    height: 100;
    }

ul li   {
    color: rgb(252, 0, 0); 
    border:2px solid rgb(31, 2, 2);
    display:inline-block ;
    width: 300px;
  text-decoration: none;
        }
  

. logo {

    text-align: center
}